<ion-view hide-tabs hide-nav-bar="true" class="scroll-content-1">
  <ion-header-bar class="bar-stable bar bar-header">
    <button ng-click="$ionicGoBack()" class="button button-positive back-button buttons  button-clear header-item"
            style="">
      <!--<i class="icon ion-ios-arrow-back">设置</i>-->
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="button-bar downloadbar">
      <button ng-click="activeSlide(0)"
              ng-class="slideIndex == 0 ? 'button button-positive col bar-width':'button button-stable col bar-width'">
        下载管理
      </button>
      <button ng-click="activeSlide(1)"
              ng-class="slideIndex == 1 ? 'button button-positive col bar-width':'button button-stable col bar-width'">
        语音列表
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" active-slide="slideIndex"
                   ng-init="lockSlide()">
      <!--下载管理-->
      <ion-slide>
        <!--正在下载-->
        <!--正在下载(方言翻译)-->
        <ion-list>
          <ion-item class="item item-divider-top">正在下载(方言翻译)</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in filterDowning(langlist)" ng-click="showTranslateAction(k)">
            <div class="demo-wrapper html5-progress-bar">
              <div class="progress-bar-wrapper">{{v.name}}
                <span class="progress-value" ng-if="v.dwnstatus == 'pause'">已暂停&nbsp;{{v.progressval}}%</span>
                <span class="progress-value" ng-if="v.dwnstatus == 'downing'">正在下载&nbsp;{{v.progressval}}%</span>
                <span class="progress-value" ng-if="v.dwnstatus == 'waiting'">等待下载&nbsp;{{v.progressval}}%</span>
                <progress max="100" value="{{v.progressval}}"></progress>
              </div>
            </div>
          </ion-item>
        </ion-list>
        <!--正在下载(情景对话)-->
        <ion-list>
          <ion-item class="item item-divider-top">正在下载(情景对话)</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in filterDowning(lang_dialogues)" ng-click="showDialogueAction(k)">
            <div class="demo-wrapper html5-progress-bar">
              <div class="progress-bar-wrapper">{{v.name}}
                <span class="progress-value" ng-if="v.dwnstatus == 'pause'">已暂停&nbsp;{{v.progressval}}%</span>
                <span class="progress-value" ng-if="v.dwnstatus == 'downing'">正在下载&nbsp;{{v.progressval}}%</span>
                <span class="progress-value" ng-if="v.dwnstatus == 'waiting'">等待下载&nbsp;{{v.progressval}}%</span>
                <progress max="100" value="{{v.progressval}}"></progress>
              </div>
            </div>
          </ion-item>
        </ion-list>

        <!--下载完成-->
        <!--下载完成(方言翻译)-->
        <ion-list>
          <ion-item class="item item-divider-top">下载完成(方言翻译)</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in downloadStatus(langlist,'success')" ng-click="showTranslateAction(k)">
            <div>{{v.name}}
            <i class="font-right-dwned">已下载</i>
            </div>
          </ion-item>
        </ion-list>
        <!--下载完成(情景对话)-->
        <ion-list>
          <ion-item class="item item-divider-top">下载完成(情景对话)</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in downloadStatus(lang_dialogues,'success')" ng-click="showDialogueAction(k)">
            <div>{{v.name}}
                <i class="font-right-dwned">已下载</i>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>

      <!--语音列表-->
      <ion-slide>
        <ion-list>
          <!--语音列表-->
          <ion-item class="item item-divider-top">方言翻译</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in langlist">
            <div ng-if="v.dwnstatus == 'download'" ng-click="download(v.id)">
              {{v.name}}
              <i class="font-right-darkgrey">{{v.size}}</i>
              <i class="icon-right-darkgrey icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'success'" ng-click="download(v.id)">
              {{v.name}}
            <i class="font-right-dwned">已下载&nbsp;&nbsp;{{v.size}}</i>
            <i class="icon-right-define2 icon ion-ios-download"></i>
            </div>
            <div ng-if="v.dwnstatus == 'downing'" ng-click="download(v.id)">
              {{v.name}}
              <i class="font-right-dwn">下载中&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-define icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'waiting'" ng-click="download(v.id)">
              {{v.name}}
              <i class="font-right-dwn">等待下载&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-define icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'pause'" ng-click="download(v.id)">
              {{v.name}}
              <i class="font-right-darkgreen">已暂停&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-darkgreen icon ion-ios-download-outline"></i>
            </div>
          </ion-item>

          <!--情景对话-->
          <ion-item class="item item-divider-top">情景对话</ion-item>
          <ion-item class="item-icon-right" ng-repeat="(k,v) in lang_dialogues">
            <div ng-if="v.dwnstatus == 'download'" ng-click="downloadDialogues(v.id)">
              {{v.name}}
              <i class="font-right-darkgrey">{{v.size}}</i>
              <i class="icon-right-darkgrey icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'success'" ng-click="downloadDialogues(v.id)">
              {{v.name}}
              <i class="font-right-dwned">已下载&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-define2 icon ion-ios-download"></i>
            </div>
            <div ng-if="v.dwnstatus == 'downing'" ng-click="downloadDialogues(v.id)">
              {{v.name}}
              <i class="font-right-dwn">下载中&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-define icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'waiting'" ng-click="downloadDialogues(v.id)">
              {{v.name}}
              <i class="font-right-dwn">等待下载&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-define icon ion-ios-download-outline"></i>
            </div>
            <div ng-if="v.dwnstatus == 'pause'" ng-click="downloadDialogues(v.id)">
              {{v.name}}
              <i class="font-right-darkgreen">已暂停&nbsp;&nbsp;{{v.size}}</i>
              <i class="icon-right-darkgreen icon ion-ios-download-outline"></i>
            </div>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
