<!--<ion-header-bar class="bar-subheader">
  <div class="button-bar">
    <div class="button-bar">
      <a class="button" tab-state ui-sref="tabs.d">未下载</a>
      <a class="button" tab-state ui-sref="tabs.appointment">已下载</a>
    </div>
  </div>
</ion-header-bar>-->
<ion-view hide-tabs hide-nav-bar="true">
  <ion-header-bar>
    <div class="button-bar">
      <div class="button-bar">
        <a class="button" tab-state ui-sref="tab.download">未下载</a>
        <a class="button" tab-state ui-sref="tab.help">已下载</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <a href="#/tab/setting/about">关于</a>
  </ion-content>
</ion-view>
