<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive {{hideTabs}}{{showTabs}}">

  <!-- Dashboard Tab -->
  <ion-tab title="翻译" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- compare Tab -->
  <ion-tab title="语音翻译" icon-off="ion-ios-mic" icon-on="ion-ios-mic-outline" href="#/tab/yuyin">
    <ion-nav-view name="tab-yuyin"></ion-nav-view>

  </ion-tab>

  <!--<ion-tab title="词汇对比" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>-->

  <!-- dialogue Tab -->
  <ion-tab title="情景对话" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/dialogues">
    <ion-nav-view name="tab-dialogues"></ion-nav-view>
  </ion-tab>

  <!-- Setting Tab -->
  <ion-tab title="设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/setting">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>


</ion-tabs>
